@import 'variables';

// .btn-primary
.btn-primary {
  &:not(:disabled) {
    box-shadow: $btn-primary-shadow !important;
  }

  @include btn-with-icon;
  @include btn-hover-focus($red-lighten, $red-lighten);
  @include btn-active($red-darken, $red-darken);
  @include btn-disabled($grey-20, $grey-20, $grey-40);
}

// .btn-outline-primary
.btn-outline-primary {
  color: $grey-70;

  @include btn-with-icon($red, $white);
  @include btn-hover-focus($red, $red, $white);
  @include btn-active($red-darken, $red-darken);
  @include btn-disabled(null, $grey-30, $grey-40);
}

// .btn-hidden
.btn-hidden {
  background: transparent;
  color: $grey-70;

  @include btn-with-icon($red);
  @include btn-hover-focus($grey-10, $grey-10);
  @include btn-active($grey-20, $grey-20);
  @include btn-disabled(null, null, $grey-40);
}

// .btn (overrides common styles for all buttons)
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'gilroy', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: .3s;
  box-shadow: none !important;

  @media screen and (max-width: 767px) {
    font-size: .875rem;
    line-height: 1.25rem;
  }

  &-link {
    &-underlined {
      text-decoration: none !important;
      transition: all 300ms ease;
      border-bottom: 1px solid $grey-60;

      &_with-icon {
        text-decoration: none !important;

        span {
          text-decoration: none !important;
          transition: all 300ms ease;
          border-bottom: 1px solid transparent;
        }

        &:hover {
          span {
            text-decoration: none !important;
            border-bottom: 1px solid $red;
          }
        }
      }

      &:hover {
        text-decoration: none !important;
        border-bottom: 1px solid $red;
      }
    }
  }

  i {
    font-size: 1.5rem;
  }

  &-lg {
    font-size: 1rem;
    line-height: 1.5;
  }

  &-sm {
    font-family: 'gilroy';
    font-weight: 500;
  }
}

// .btn-text-with-icon (helper: adds space between text and icon)
.btn-text-with-icon {
  justify-content: space-between;

  i, preloader-sm {
    display: inline-flex;
    margin-left: $font-size-base;
    margin-right: -2px;
  }
}

// .btn-link
.btn-link, a.btn-link:not([href]) {
  color: $grey-70;
  font-size: 1rem;

  &:hover {
    color: $red;
    text-decoration: underline;
  }
}

// .swiper-button
.swiper-button {
  &-next,
  &-prev {
    &:focus {
      outline: none;
    }
  }

  &-next {
    background-image: url('/assets/svg/slider-arrow-right.svg') !important;
  }

  &-prev {
    background-image: url('/assets/svg/slider-arrow-left.svg') !important;
  }
}
