@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'gilroy', 'arial', sans-serif;
  font-weight: 500;
}

a:focus,
*[tabindex] {
  outline: none;
}

body {
  background-color: $white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  –webkit-overflow-scrolling: touch;
  overflow-x: hidden !important;
  max-width: 100% !important;
}

.container-fluid {
  max-width: 1476px;
}

canvas {
  position: fixed;
  z-index: -2;
  top: 0px;
  left: 0px;
}

// wizard indicator
.wizard-indicator {
  $rgb-red: rgb(red($red), green($red), blue($red));

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &-step {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 4.25rem;
    border: 0.25rem solid $grey-40;
    border-radius: 50%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -1px;
      margin-left: 0.25rem;
      width: 3.75rem;
      height: 1px;
      background: $grey-20;
    }

    &:last-child {
      margin-right: 0;

      &:after {
        content: none;
      }
    }

    &.active {
      border-color: $red;
      box-shadow: 0 3px 5px rgba($rgb-red, .3),
      0 6px 10px 0 rgba($rgb-red, .15);
      transition: .3s;
    }

    &.prev {
      width: .75rem;
      height: .75rem;
      border: 0;
      background: $red;
      box-shadow: 0 3px 5px rgba($rgb-red, .3);
    }
  }
}

// countdown
:host::ng-deep fuib-countdown {
  .countdown {
    border: 0;
  }

  .measurements {
    padding: 0 !important;
  }
}

.image {
  &-s {
    max-width: 208px;
  }

  &-m {
    max-width: 416px;
  }

  &-l {
    max-width: 832px;
  }
}
