.filter-blur-3 {
  filter: blur(4px) brightness(1) !important;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: .2
  }
}

.text-filter {
  text-shadow: 0 0 30px white;
}
