@import "variables";

.color {
  &-red {
    color: $red !important;
  }

  &-warning {
    color: $error;

    &-icon {
      &-exclamation-circle {
        position: relative;
        padding-left: 20px;

        &:before {
          content: url("../../../src/assets/icons/icon-exclamation-circle-filled.svg");
          top: 0;
          width: 12px;
          height: 12px;
          left: 0;
          position: absolute;
        }
      }
    }
  }

  &-grey {
    &-30 {
      color: $grey-30;
    }

    &-50 {
      color: $grey-50;
    }
  }
}

.flex-basis-auto {
  flex-basis: auto;
}

.flex-basis-0 {
  flex-basis: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .w-100-IE {
    width: 100%;
  }
}

.word-break-keep-all {
  word-break: keep-all;
}

// font-size rems
.fsz {
  &-0 {
    font-size: 0;

    &-7 {
      font-size: 0.7rem;
    }

    &-8 {
      font-size: 0.88rem;

      &-75 {
        font-size: 0.875rem !important;
      }
    }
  }

  &-1 {
    font-size: 1rem;

    &-1 {
      font-size: 1.1rem;
    }

    &-2 {
      font-size: 1.2rem;
    }

    &-3 {
      font-size: 1.3rem;
    }

    &-4 {
      font-size: 1.4rem;
    }

    &-5 {
      font-size: 1.5rem !important;
    }

    &-6 {
      font-size: 1.6rem;
    }

    &-7 {
      font-size: 1.7rem;
    }

    &-8 {
      font-size: 1.8rem;
    }

    &-9 {
      font-size: 1.9rem;
    }
  }

  &-2 {
    font-size: 2rem !important;

    &-1 {
      font-size: 2.1rem;
    }

    &-2 {
      font-size: 2.2rem;
    }

    &-3 {
      font-size: 2.3rem;
    }

    &-4 {
      font-size: 2.4rem;
    }

    &-5 {
      font-size: 2.5rem;
    }

    &-6 {
      font-size: 2.6rem;
    }

    &-7 {
      font-size: 2.7rem;
    }

    &-8 {
      font-size: 2.8rem;
    }

    &-9 {
      font-size: 2.9rem;
    }
  }

  &-3 {
    font-size: 3rem;
  }

  &-4 {
    font-size: 4rem;
  }

  &-5 {
    font-size: 5rem;
  }

  &-6 {
    font-size: 6rem;
  }
}

.h-auto {
  height: auto !important;
}

.rotate-90 {
  transform: rotate(90deg);
  display: inline-block;
}

.rotate-180 {
  transform: rotate(180deg);
  display: inline-block;
}

.rotate-270 {
  transform: rotate(270deg);
  display: inline-block;
}

.vam {
  vertical-align: middle !important;
}

.ul-text-dark {
  input,
  button {
    color: #000 !important;
  }
}

.underline:hover {
  text-decoration: underline;
}

.circle {
  &-white {
    &__lg {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      transition: all 500ms ease;

      &:before {
        transition: all 500ms ease;
        font-size: 22px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateX(0);
      }
    }
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.p-xs {
  &-2 {
    @media (max-width: 575.98px) {
      padding: 0.5rem !important;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
      padding: 0.5rem !important;
    }
  }
}

.z-index {
  &-0 {
    z-index: 0;
  }

  &-1 {
    z-index: 1;
  }

  &-2 {
    z-index: 2;
  }

  &-3 {
    z-index: 3;
  }
}

.min-width-contain {
  min-width: min-content;
}

.fit-content {
  div {
    min-width: fit-content;
  }
}

.underline-near {
  line-height: 1;
}

.border {
  &-dashed {
    border: 1px dashed;
  }
}

.text {
  &-lightgrey {
    color: #9cafb6 !important;
  }

  &-red {
    color: $red !important;
  }

  &-grey {
    &-50 {
      color: $grey-50;
    }
  }
}

.overlay {
  overflow: overlay;
}

.overlay-y {
  overflow-y: overlay;
}

.overlay-x {
  overflow-x: auto;
  padding: 0 0 0.2rem 0;
}

.fuib-preloader-sm__red {
  left: 0;
  top: 0;
}

.nobr {
  white-space: nowrap;
}

.sdw {
  box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.08);
}

.sdw-2 {
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.08)
}

.sdw-3 {
  box-shadow: 0 0 8px -6px rgba(0, 0, 0, 0.11)
}

.sdw-active {
  &.active, &:hover, &:focus {
    box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.08);
  }
}

.cur {
  &-p {
    &:hover {
      cursor: pointer;
    }
  }
}

.tac {
  text-align: center;
}

.cur-p {
  cursor: pointer;
}

.pointer {
  &-none {
    pointer-events: none;
  }
}

.cur-not-allowed {
  cursor: not-allowed !important;
}

.no {
  &-borders {
    border: none !important;
  }
}

.ul {
  &-checked {
    li {
      padding-left: 2rem;
      position: relative;
      list-style: none;

      &:before {
        content: url("../../assets/icons/icon-check.svg");
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }

  &-dot {
    &-grey {

      li {
        padding-left: 1rem;
        position: relative;
        list-style: none;

        &:before {
          content: '.';
          position: absolute;
          left: 0;
          top: 2px;
          font-size: 40px;
          line-height: 0;
          color: $grey-40;
        }
      }
    }
  }
}

.text-color {
  &-default {
    color: $grey-70;

    &:hover {
      color: $grey-70;
    }
  }
}

.download-with-icon {
  i {
    transition: all 300ms ease;
    color: $grey-50;
  }

  &.disabled {
    cursor: not-allowed;
  }

  a {
    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }

    &:hover {
      i {
        color: $red;
      }
    }
  }

  .bg-grey-10 {
    background: $grey-10;
  }
}


.border-left-red {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 6px solid $red;
    border-radius: 8px 0 0 8px;
  }
}

.icon {
  &-add {
    color: $grey-60;
  }
}

.overflow {
  &-visible {
    overflow: visible !important;
  }
}
