//
// Color system
//

$white:                           #fff;
$gray-100:                        #f9f9fa;
$gray-200:                        #e1e6ef;
$gray-300:                        #c0cadd;
$gray-400:                        #869fac;
$gray-500:                        #678898;
$gray-600:                        #9faecb;
$gray-700:                        #3e515b;
$gray-800:                        #384042;
$gray-900:                        #151b1e;
$black:                           #000 !default;

$red-30:                          #FC979D;
$red-110:                         #C51522;
$red-lighten:                     #fa5760;
$red-darken:                      #cc0812;

// Colors from Design System - PDS
/*#region PDS*/
$grey-10:                         #f5f5fa;
$grey-20:                         #e1e1e8;
$grey-30:                         #D0D0D9;
$grey-40:                         #b6b6bf;
$grey-50:                         #93939e;
$grey-60:                         #6D6D7A;
$grey-70:                         #4D4D5C;
$grey-80:                         #2C2C3B;
$grey-90:                         #10101F;
$grey-100:                        #00000D;

// PDS Blue
$blue-10:                        #E4F3F8; // rgb(228, 243, 248)
$blue-20:                        #C9EBF7; // rgb(201, 235, 247)
$blue-30:                        #B0DBEB; // rgb(176, 219, 235)
$blue-40:                        #8EC9DE; // rgb(142, 201, 222)
$blue-50:                        #6BB0C9; // rgb(107, 176, 201)
$blue-60:                        #408EAA; // rgb(64, 142, 170)
$blue-70:                        #286E87; // rgb(40, 110, 135)

// PDS Green
$green-10:                        #E8F5E9; // rgb(232, 245, 233)
$green-20:                        #C2E5C4; // rgb(194, 229, 196)
$green-30:                        #ABD6AD; // rgb(171, 214, 173)
$green-40:                        #84CC88; // rgb(132, 204, 136)
$green-50:                        #66BB6A; // rgb(102, 187, 106)
$green-60:                        #4CA650; // rgb(76, 166, 80)
$green-70:                        #38823C; // rgb(56, 130, 60)

// PDS Orange
$orange-10:                       #FFEDDD; // rgb(255, 237, 221)
$orange-20:                       #FFD0A6; // rgb(255, 208, 166)
$orange-30:                       #FFAD63; // rgb(255, 173, 99)
$orange-40:                       #FF9133; // rgb(255, 145, 51)
$orange-50:                       #F57F17; // rgb(245, 127, 23)
$orange-60:                       #DB6A04; // rgb(219, 106, 4)
$orange-70:                       #B85906; // rgb(184, 89, 6)

// PDS Red
$red-10:                          #FEE4E6; // rgb(254, 228, 230)
$red-20:                          #FFC5C9; // rgb(255, 197, 201)
$red-30:                          #FC979D; // rgb(252, 151, 157)
$red-40:                          #FA5760; // rgb(250, 87, 96)
$red-50:                          #F91F2B; // rgb(249, 31, 43)
$red-60:                          #CC0812; // rgb(204, 8, 18)
$red-70:                          #9C1017; // rgb(156, 16, 23)
/*#endregion PDS*/

$blue:                            #20a8d8;
$indigo:                          #6610f2 !default;
$purple:                          #6f42c1 !default;
$pink:                            #e83e8c !default;
$red:                             #F91F2B; // main project color
$orange:                          #fabb3d;
$yellow:                          #ffc107 !default;
$green:                           #79c447;
$teal:                            #20c997 !default;
$cyan:                            #67c2ef;

$primary:                         $red;
$secondary:                       #3d4648;
$dark-bg:                         #4c5657;
$error:                           #f57f17;

$colors: (
  blue:                  $blue,
  indigo:                $indigo,
  purple:                $purple,
  pink:                  $pink,
  red:                   $red,
  orange:                $orange,
  yellow:                $yellow,
  green:                 $green,
  teal:                  $teal,
  cyan:                  $cyan,
  white:                 $white,
  gray:                  $gray-600,
  gray-dark:             $gray-800
);

$theme-colors: (
  primary:         $primary,
  secondary:       $secondary,
  success:         $green,
  info:            $dark-bg,
  warning:         $orange,
  danger:          $red,
  light:           $gray-100,
  dark:            $gray-800,
  csv:             #388e57,
  error:           $error,
  grey-10:         $grey-10,
  grey-20:         $grey-20,
  grey-30:         $grey-30,
  grey-40:         $grey-40,
  grey-50:         $grey-50,
  grey-60:         $grey-60,
  grey-70:         $grey-70,
);
// IOptions
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions:              true;
$enable-rounded:                  true;

// Body
//
// Settings for the `<body>` element.

$body-bg:                         #f7f9fb;
$body-color:                      $grey-70;

// Timing
$time:                            300ms;

// Sidebar
//
//

$sidebar-bg:                      $dark-bg;

// Typography

$font-size-base:                  1rem;
$font-size-sm:                    $font-size-base * .875;
$font-family-base:                gilroy-medium, sans-serif;
$font-weight-normal:              500;
$headings-font-weight:            700;

$h1-font-size:                    $font-size-base * 6;
$h2-font-size:                    $font-size-base * 3.75;
$h3-font-size:                    $font-size-base * 3;
$h4-font-size:                    $font-size-base * 2.125;
$h5-font-size:                    $font-size-base * 1.5;
$h6-font-size:                    $font-size-base * 1.25;

$hr-border-color:                 $gray-200;

// Breadcrumbs

$breadcrumb-padding-x:            2rem !default;
$breadcrumb-bg:                   transparent;

// Cards

$card-border-color:               $gray-200;
$card-cap-bg:                     $gray-100;

// Dropdowns

$dropdown-padding-y:              0;

$dropdown-border-color:           $gray-200;
$dropdown-divider-bg:             $gray-100;

$dropdown-item-padding-y:         .4rem;

// Buttons

$btn-padding-y:                   .5rem;
$btn-padding-x:                   1.375rem;
$btn-padding-y-lg:                .875rem;
$btn-padding-x-lg:                1.375rem;
$btn-border-width:                2px;
$btn-border-radius:               3.125rem;
$btn-border-radius-lg:            $btn-border-radius;
$btn-border-radius-sm:            $btn-border-radius;
$btn-primary-shadow:              0px 2px 5px rgba(156, 16, 23, 0.35);

// Progress bars

$progress-bg:                     $gray-100;

// Tables
$table-head-bg:                   #efefef;

$table-accent-bg:                 rgba($black, .03);
$table-border-color:              #e2e2e2;
$table-bg-accent:                 $gray-100;
$table-bg-hover:                  $gray-100;

// Forms

$input-btn-padding-y:             .6875rem;
$input-btn-padding-x:             .9375rem;
$label-margin-bottom:             0;
$input-disabled-bg:               $white;
$input-group-addon-bg:            $white;
$input-border-color:              $grey-50;
$input-group-addon-border-color:  $grey-50;
$input-placeholder-color:         $grey-40;
$form-group-margin-bottom:        1.5rem;

$custom-control-label-disabled-color:           $grey-40;
$custom-control-indicator-size:                 1.5rem;
$custom-switch-width:                           2.5rem;

  // Border radius

$border-radius:                   .5rem;
$border-radius-50:                50% !important;
$border-radius-lg:                .8rem !default;
$border-radius-sm:                .2rem !default;

//Modal

$modal-header-border-width:        0;


/*
 * Indexes
 */
$header-index:                     1050;
$sidebar-index:                    1060;
$toasters-index:                   1040;
$popup-index:                      1070;
$popup-backdrop-index:             $popup-index - 1;

$opacity-list:                     (
  0: 0,
  30: 0.3,
  50: 0.5,
  100: 1,
);

$content-max-width:                1600px;
$consultations-container-sides:    62px;
$sidebar-width:                    300px;
$sidebar-minimized-lg-width:       65px;
$navbar-color:                     white;
$navbar-hover-color:               #333;
$sidebar-nav-title-color:          white;

$input-disabled-bg:                #ededed;

$ten-percent:                       10%;
$fifteen-percent:                   15%;

.dropdown-menu{
  z-index:                         1080;
}
