// for visualizing state of form-control (hover, focus, invalid, readonly)
@mixin form-control-outline($state-selector, $border-color, $icon-color: $border-color, $input-group-selector: $state-selector) {
  input, textarea, select {
    &.form-control#{$state-selector} {
      border-color: $border-color;
      box-shadow: 0 0 0 1px $border-color;
    }
  }

  #{$input-group-selector} {
    border-radius: $border-radius;
    box-shadow: 0 0 0 1px $border-color;

    .form-control#{$state-selector} {
      box-shadow: none;
    }

    .form-control, .input-group-text {
      border-color: $border-color;
    }

    .input-group-icon {
      color: $icon-color;
    }
  }
}

@mixin select-icon-change-color($selector, $icon-color: #000) {
  #{$selector} {
    background-image: url('data:image/svg+xml;charset=utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#{url-friendly-color($icon-color)}" fill-rule="evenodd" clip-rule="evenodd" d="M11.8091 16.9817C11.6199 16.9451 11.4394 16.8536 11.2929 16.7071L4.22185 9.63603C3.83132 9.24551 3.83132 8.61234 4.22185 8.22182C4.61237 7.8313 5.24554 7.8313 5.63606 8.22182L12 14.5858L18.364 8.22182C18.7545 7.83129 19.3877 7.83129 19.7782 8.22182C20.1688 8.61234 20.1688 9.24551 19.7782 9.63603L12.7072 16.7071C12.584 16.8303 12.4366 16.9146 12.2804 16.9601C12.1271 17.0047 11.9652 17.0119 11.8091 16.9817Z"/></svg>');
    background-repeat: no-repeat;
    background-position: right .6875rem center;
    background-size: 24px;
  }
}

// for creating text messages (errors, info)
@mixin text-message-with-icon($selector, $icon-code, $color: $body-color) {
  #{$selector} {
    font-size: $font-size-sm;
    line-height: 20px;
    color: $color;
    position: relative;
    display: flex;

    &:before {
      content: $icon-code;
      font-family: 'project-icons';
      font-size: .75rem;
      margin-right: .5rem;
      display: inline-block;
    }
  }
}
